@charset "utf-8";

*{
    margin: 0;
    padding:0;
}

/* definindo a estrutura principal*/
#cabecalho, #conteudo, #rodape {
    width: 960px;
    margin: 0 auto;
}

#cabecalho{
    height: 150px;
}

body, header, section, footer {

    font-family: Arial, Helvetica, sans-serif;

}

p {
    font-size: 16px; /* tamanho da fonte */ 
    margin-bottom: 1.5em;
    line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal; /* padrão de fonte */ 
}

/* links - cores https://uicolorpicker.com/ */
a:link {
    color: #0A79DF;
    text-decoration: none; /* para os link não ficarem sublinhados*/
}

a:visited {
    color:#30336B;
}

a:hover {
    color: #6A89CC;
}

/* menu principal */ 

#menu-principal{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	font-size: 20px;
}

#menu-principal ul {

    list-style: none; /* tirar o formato de lista */
}

#menu-principal li {
	padding: 30px;
	display: inline; /* deixar alinhado */ 
}

#menu-principal ul li a{
	text-decoration: none;
	color: black; /* cor das letras do menu */ 
}

#menu-principal ul li a:hover{
	text-decoration: none; /* tirar o sublinhado dos links */
	color:#8395A7; /* cor do link quando eu passar o mouse*/
}

/* background do site */ 

body { /*https://www.toptal.com/designers/subtlepatterns/  site para background*/ 

    background:url('../imagens/fundo_do_site.png');

}

/* CONTINUAÇÃO DO SITE DA AULA ANTERIOR*/ 

/* logo do site */ 

#logo {
    padding: 10px 0;
    display: block;
    float: left; /* posicionando minha logo para esquerda*/ 
}

#logo img {

    display: block;
}


/* colocando uma foto principal para a pagina inicial */ 


/* Fundo normal 
.fotoprincipal {
    background: #b6b6b6  url('../imagens/foto-principal.jpg') no-repeat center top;
    height: 200px; 
}
*/


.fotoprincipal {
    background: #b6b6b6  url('../imagens/foto-principal.jpg') no-repeat;
    height: 200px;
    background-attachment: fixed;
    background-size: 100% 80%;
}


/* conteudo principal - PRIMEIRO PASSO */ 


.conteudo-principal {
    font-size: 36px; /* tamanho da fonte do h1 */
    float: left;  /* jogando o elemento #conteudo-principal para a esquerda */ 
    width: 620px; /* largura */ 

}

.conteudo-principal h1{
    padding-top: 25px;
    padding-bottom: 25px;
}



/* conteudo secundário - SEGUNDO PASSO */ 

.conteudo-secundario {
    margin-top: 25px;
    padding: 0 20px 0 20px;
    width: 280px; /* largura */ 
    float: right; /* jogando o elemento #conteudo-principal para a direita */ 
    background: #0f599f; /* cor de fundo */ 
    color: #FFF; /* cor da fonte */ 
    background: url('../imagens/background-azul.gif');
    background-attachment: fixed;
    background-size: 50%; /* o background vai ocupar 50% da tela do site */ 

}

/* conteudo secundário - TERCEIRO PASSO */ 

.conteudo-secundario h1 {
    font-size: 36px;  /* tamanho da fonte */ 
    margin-bottom: 0.5em;
    padding-top: 5px;
    padding-bottom: 25px;
}

.conteudo-secundario p {
    font-size: 14px; /* tamanho da fonte */ 
}


.conteudo-secundario a {
    color: #FFF; /* cor do link */ 
}

.textos{
    text-align: justify; /* texto justificado */ 
}


/* RODAPÉ - ULTIMA PARTE */ 

.rodape-fora{
    clear: both;

}

#rodape{
    color: white;
    background: url('../imagens/background-azul.gif') no-repeat center;
    background-size: 100%;

}